:host {
  display: block;
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  h1 {
    margin-bottom: 1.5rem;
    font-weight: 700;
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }

  p-button {
    font-weight: 600;
  }
}
